body {
    background-color: black;
}

/* MENU */
.menu {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 10%;
    margin-top: -10px;
    z-index: 1;
}

.menu_logo {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 20pt;
}

.menu_back {
    margin-top: 1%;
    margin-left: 70%;
    font-size: 15pt;
    font-weight: lighter;
}

.menu > div > a {
    text-decoration: none;
    color: white;
}

/* CONTEÚDO */

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 75px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: scroll;
    scroll-snap-type: y;
}

.proj_1, .proj_2, .proj_3, .proj_4, .proj_5, .proj_6, .proj_7, .proj_8, .proj_9 {
    font-family: Poppins, sans-serif;
    font-weight: italic;
    font-size: 110pt;
    color: #BFC9D2;
    margin: 0;
    padding-left: 20px;
}

.proj_1:hover, .proj_2:hover, .proj_3:hover, .proj_4:hover, .proj_5:hover, .proj_6:hover,
 .proj_7:hover, .proj_8:hover, .proj_9:hover {
    transform: scale(1.5);
}

#proj_1 {
    grid-area: 7 / 1 / span 1 / span 1;
}

.detalhes_1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 25%;
    width: 50%;
    opacity: 0;
}

.photo1 {
    position: absolute;
    display: flex;
}

.detalhes1 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 60%;
}

#proj_1:hover + .detalhes_1 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* PROJETO 2 */

#proj_2 {
    grid-area: 7 / 2 / span 1 / span 1;
}

.detalhes_2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 18%;
    width: 50%;
    opacity: 0;
}

.photo2 {
    position: absolute;
    display: flex;
    margin-top: -3%;
}

.detalhes2 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 80%;
}

#proj_2:hover + .detalhes_2 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* PROJETO 3 */

#proj_3 {
    grid-area: 7 / 3 / span 1 / span 1;
}

.detalhes_3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 25%;
    width: 50%;
    opacity: 0;
}

.photo3 {
    position: absolute;
    display: flex;
    margin-top: -3%;
}

.detalhes3 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 60%;
}

#proj_3:hover + .detalhes_3 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* PROJETO 4 */

#proj_4 {
    grid-area: 7 / 4 / span 1 / span 1;
}

.detalhes_4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 18%;
    width: 50%;
    opacity: 0;
}

.photo4 {
    position: absolute;
    display: flex;
    margin-top: -3%;
}

.detalhes4 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 80%;
}

#proj_4:hover + .detalhes_4 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* PROJETO 5 */

#proj_5 {
    grid-area: 7 / 5 / span 1 / span 1;
}

.detalhes_5 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 18%;
    width: 54%;
    opacity: 0;
}

.photo5 {
    position: absolute;
    display: flex;
    margin-top: -3%;
}

.detalhes5 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 73%;
}

#proj_5:hover + .detalhes_5 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* PROJETO 6 */

#proj_6 {
    grid-area: 7 / 6 / span 1 / span 1;
}

.detalhes_6 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 18%;
    width: 54%;
    opacity: 0;
}

.photo6 {
    position: absolute;
    display: flex;
    margin-top: -3%;
}

.detalhes6 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 73%;
}

#proj_6:hover + .detalhes_6 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* PROJETO 7 */

#proj_7 {
    grid-area: 7 / 7 / span 1 / span 1;
}

.detalhes_7 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 18%;
    width: 54%;
    opacity: 0;
}

.photo7 {
    position: absolute;
    display: flex;
    margin-top: -3%;
}

.detalhes7 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 73%;
}

#proj_7:hover + .detalhes_7 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* PROJETO 8 */

#proj_8 {
    grid-area: 7 / 8 / span 1 / span 1;
}

.detalhes_8 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 18%;
    width: 54%;
    opacity: 0;
}

.photo8 {
    position: absolute;
    display: flex;
    margin-top: -3%;
}

.detalhes8 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 73%;
}

#proj_8:hover + .detalhes_8 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* PROJETO 9 */

#proj_9 {
    grid-area: 7 / 9 / span 1 / span 1;
}

.detalhes_9 {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 8%;
    margin-left: 18%;
    width: 54%;
    opacity: 0;
}

.photo9 {
    position: absolute;
    display: flex;
    margin-top: -3%;
}

.detalhes9 {
    display: flex;
    flex-direction: column;
    color: #BFC9D2;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 10pt;
    margin-left: 73%;
}

#proj_9:hover + .detalhes_9 {
    opacity: 1;
    transition: opacity 0.3s ease;
}
